<%# <p id="notice"><%= notice </p> %>

<h1><%= params[:username] %> Faves</h1>

<% if current_user.favourites.empty? %>
<p class="text-muted">"You haven't favourited anything yet!"</p>
<%= link_to 'Find something to fave!', root_path %>
  <% else %>
  <p>You have <%= pluralize current_user.favourites.count, "fave"%></p>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Size</th>
      <th>Finish</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  
    <% @listings.each do |listing| %>
      <tr>
        <td><%= listing.name %></td>
        <td><%= listing.description %></td>
        <td><%= listing.price %></td>
        <td><%= listing.size %></td>
        <td><%= listing.finish %></td>
        <td><%= listing.user.username %></td>
        <td><%= link_to 'Show', shop_path(listing.user.username, listing.id) %></td>
        <td>  <%= link_to "unfavourite", favourite_shop_path(listing.user.username, listing.id, type: "unfavourite"), method: :put %>
%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


