<div class="jumbotron jumbotron-fluid banner">
  <div class="container text-center">
    <h1><%= params[:username] %> Shop</h1>
<h3><%= pluralize Listing.where(user_id: "#{User.find_by_username(params[:username]).id}").count, "Sticker" %></h3>
  </div>
</div>


<div class="row mt-3">
    <% @listings.each do |listing|%>
        <%# turns the cards into rows of 3 %>
        <div class="col-md-3">
            <div class="card" style="width: 15rem;">
            <%= image_tag listing.picture, class: "card-img-top" %>
            <div class="card-body card-thicc">
                <h5 class="card-title card-thicc"><%= listing.name %></h5>
                <p class="card-text card-thicc">$<%=listing.price %></p> 
                <p class="card-text card-thin listing-description text-truncate" style="max-width: 300px;"><%=listing.description %></p>
                <div class="container d-grid d-md-block">
                  <%= link_to "Show More", shop_path(listing.user.username, listing.id), class:"btn btn-primary btn-sm" %>
                  <% if params[:username] == current_user.username %>
                  <%= link_to 'Edit', edit_listing_path(listing), class:"btn btn-primary btn-sm" %>
                  <%= link_to 'Destroy', shop_path(listing.user.username, listing.id), method: :delete, class: "btn btn-primary btn-sm", data: { confirm: 'Are you sure?' } %>
                  <% end %>
                </div>
            </div>
            </div>
        </div>
    <% end %>
</div>
<% if params[:username] == current_user.username && current_user.listings.empty?%>
<p class="text-center small-text">You don't have any stickers yet!</p>
<p class="text-center small-text"><%= link_to 'Add A Sticker', new_listing_path %></p>
<% end %>

