<%# <p id="notice"><%= notice </p> %>

<p>
  <strong>Name:</strong>
  <%= @listing.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<p>
  <strong>Size:</strong>
  <%= @listing.size %>
</p>

<p>
  <strong>Finish:</strong>
  <%= @listing.finish %>
</p>

<p>
  <strong>Username:</strong>
  <%= @listing.user.username %>
</p>

<p>
  <%= image_tag @listing.picture %>
</p>

<% if params[:username] == current_user.username %>
  <%= link_to 'Edit', edit_shop_path(current_user.username, @listing.id) %> |
  <%= link_to 'Back', shop_index_path(current_user.username) %>
<% else %>
<%= link_to 'Home', root_path %>
<% end %>