<nav class="nav">
  <a class="nav-link active" aria-current="page" href="/">Vandals</a>
  
 <% if user_signed_in? %>
  <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "nav-link" %>
  <%= link_to "#{current_user.username}", shop_index_path(current_user.username), method: :get, class: "nav-link" %>
  <%= link_to "Faves", faves_path(current_user.username), class: "nav-link" %>
  <%= link_to "Add New Sticker", new_listing_path, class: "btn btn-primary btn-lrg" %>
  <% else %>
    <%= link_to "Log In", user_session_path, method: :get, class: "nav-link"%>
    <%= link_to "Sign Up", new_user_registration_path, method: :get, class: "nav-link" %>
  <% end %>

  

 
  <%# <a class="nav-link" href="#">Link</a> %>
  <%# <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> %>
</nav>

